<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    
    <title>Demo Reacjs </title>
    <script crossorigin src="lib/react.development.js"></script>
    <script crossorigin src="lib/react-dom.development.js"></script>
    <script crossorigin src="lib/browser.min.js"> </script>
    <script crossorigin src="lib/jquery.min.js"> </script>
    <link  rel="stylesheet" href="layout.css">
</head>
<style>
    .mauvang{
        background-color: yellow
    }
</style>
<body>
    <div id="root"></div>
    <script src="vd1.js" type="text/babel"></script>
   
</body>
</html>